// Variabiles
:root {
  --tt-expenses-tomato: #d12420;
  --tt-expenses-white: #ffffff;
  --tt-expenses-white-smoke: #f2f2f2;
  --tt-expenses-warm-gray-20: #f3f2ef;
  --tt-expenses-black: #000000;
  --tt-expenses-night-rider: #323232;
  --tt-expenses-sliver: #e0e0e1;
  --tt-expenses-primary: #00b5ec;
  --tt-expenses-secondary: #183242;
  --tt-expenses-yellow-amber: #ffc107;
  --tt-expenses-default: #63666a;
  --tt-expenses-success: #2a7a39;
  --tt-expenses-warning: #fa9600;
  --tt-expenses-danger: #f55854;
  --tt-expenses-info: #0096c8;
  --tt-expenses-egyptian-blue: #f1faff;
  --tt-expenses-floral-white: #fffbe9;
  --tt-expenses-mint-cream: #ddffeb;
  --tt-expenses-misty-rose: #ffd6d6;
  --tt-expenses-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --tt-expenses-box-shadow-hover: 0 4px 25px 0rgba (34, 41, 47, 0.25);
  --tt-expenses-transition: all 0.3s ease-in-out, background 0s, color 0s,
    border-color 0s;
  --tt-expenses-border-radius-one: 5px;
  --tt-expenses-border-radius-two: 21px;
  --tt-expenses-border-radius-three: 100%;
}
